# server.toml
[server]
bind_addr = "0.0.0.0:2333" # `2333` specifies the port that rathole listens for clients
default_token = "$RATHOLE_TOKEN"

[server.services.minecraft2]
type = "udp"
bind_addr = "0.0.0.0:25566"
nodelay = true
